<!doctype html>
<html>

<head>
  <title>Therapy</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="style.css">
  <link href="/rahmas-dandy-project.webflow.css" rel="stylesheet" type="text/css">

</head>

<body>

      <h1>Therapist Login</h1>
      <ul class="tabs">
        <li> <a href="/login"> Client Login</a> </li>
        <li> Therapist Login </li>
      </ul>

      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="/therapistlogin" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="button dark w-button">Login</button>
      </form>

      <hr>

      <p class="redirect"><a href="/signupClient">Signup</a></p>
      <!-- <p><a href="/signupTherapist"> Therapist Signup</a></p> -->
      <p class="redirect">Or go <a href="/">home</a>.</p>


    </div>
  </div>
</body>

</html>
