/*
theme from BootstrapZero
http://wwww.bootstrapzero.com

*/

/* @import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
  width: 100%;
  height: 100%;
} */

body {
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  background-color: #fff ;
  color: black;

}


a {
  color: #422511;
  display:inline-block;
  text-decoration:none;


}

.messages{
  width: 50%;
}

.message{
  width:100%;
  height: 3rem;
}

.receiver{
  width: 40%;
  display: block;
  background-color: #e6e5eb;
  float: left;
  margin-left: 40px;

}

.sender{
  color:blue;
  width: 40%;
  display: block;
  padding-left: 5rem;
  background-color: #158ffe;
color: #fff;
float: right;
margin-right: 40px;

}

.hide{
  display: none;
}

#button{
  margin-left: 50rem;
  padding-bottom: 15px;

}

.containermy-5{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



/* .site-nav{
  display:flex;
  justify-content: space-between;
} */

.nav{
  margin: 0;
  padding: 40px;;
}

.nav a{
  padding:0 20px;
}


.logo{
  align-self: center;
  padding: 0 20px;
}

ul li{
  list-style:none;
  padding:0;
  margin:0;
  display:inline-block;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 15px;


}

/* .inner{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px
  padding: 1rem;
  background-color: rgb(32 115 92 / 0%);
  border-radius: 10px;
  padding:3rem;
} */

/* a:hover,
a:focus {
  color: #af7245d6;
  outline: 0;
} */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  text-align: center;
}

.redirect {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  width: 94%;
  margin-left: 58px;

}

.wide-space {
  letter-spacing: 1.6px;
}

.icon-lg {
  font-size: 50px;
  line-height: 18px;
}

/* .bg-primary {
  background-color: #333;
} */

/* .bg-dark {
  color: #eee;
  background-color: #222;
} */

.cursive {
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}

.text-faded {
  color: rgba(245,245,245,0.7);
}

.text-dark {
  color: #111;
}

.text-primary {
  color: #9c27b0;
}

/* .modal-content {
  background-color: #1d1d1d;
} */

/* .container-fluid{
  height:150px;
} */

section {
  padding: 60px
}

aside {
  padding: 50px 0;
}

footer {
  padding: 15px;
}

.no-padding {
  padding: 0;
}

.navbar-defa

t {
  border-color: rgba(35,35,35,.05);
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  display: inline-block;
  font-size: 16px;
}

.page-scroll{
  display: inline-block;
  margin-left: 10rem;
}

#first {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px
  padding: 1rem;
  border-radius: 10px;
  padding:5rem;
  min-height: 600px;
  text-align: center;
  color: #fff;
  background-color: #a45936;
  background-image: url('img/blackHand.png');
  background-repeat: no-repeat;
  background-position: left;
  /* background-size: auto 100%; */
}


.tabs{
  margin: 20px 0;
  padding-left: 0;
  font-weight: bold;
  text-align: center;
}

.tabs li{
  text-transform: none;
}

.tabs li+li{
  margin-left: 1em;
  border-left: 1px solid black;
  padding-left: 1em;
}

.tabs a{
  font-weight: normal;
}






/* li{
display: inline-block;
display: inline-block;
margin-left: 10rem;
padding-right: 0;
padding-left: 0;
font-size: 16px;
font-weight: bold;
color: saddlebrown;
border-bottom: 2px solid transparent
} */

.navbar-header > .navbar-brand {
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
  color: saddlebrown;
  padding: 15px;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
}

/* .navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
  color: #8b27b0;
  display: inline-block;

} */

/* .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: transparent;
} */

/* .navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #eee;
} */

/* .navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: saddlebrown;
} */

/* .navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #9c27b0 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
  background-color: transparent;
} */


/* @media(min-width:768px) {
  .navbar-default {
    border-color: transparent;
    background-color: transparent;
    min-height: 60px;
  }

  .navbar-header > .navbar-brand {
    color: rgba(255,255,255,0.7);
    padding: 19px;
  }

  /* .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #f4f4f4;
  } */

  /* .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: rgba(255,255,255,0.8);
    padding: 20px;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
  } */

  /* .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #fefefe;
  } */

  /* .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #222;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 15px;
    color: #9c27b0;
    padding: 20px;
    letter-spacing: 1px;
  } */

  /* .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #8b27b0;
  } */

  /* .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
  } */

  /* .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #9c27b0;
  }
} */

/* header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-color: #c9c9c9;
  background-image: url('');
  background-position: center;

} */

/* header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 0px;
  text-align: center;
  z-index: 2;
}

header .header-content .inner h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header .header-content .inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
}


footer {
  background-color:#2d2d2d;
}

@media(min-width:768px) {
  .icon-lg {
    font-size: 80px;
  }

  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .inner {
    margin-left: 60rem;
    max-width: 1000px;
  }

  header .header-content .inner h1 {
    font-size: 53px;
  }

  header .header-content .inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }

  section {
    min-height: 50px;
    padding: 50px 0;
  }

} */

/* .form-control { */
  /* display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  background-image: none;
  border: 1px solid #36333d;
  border-radius: 10px;
 */

 input {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
     border-radius: 5px;

}


form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.container {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 29rem;
    padding-top: 6rem

}





/* .form-control:focus {
  color: #222;
  background-color: #ccc;
  box-shadow: none;
} */

/* textarea {
  resize: none;
} */

/* .margin-top-0 {
  margin-top: 0;
} */

/* .feature {
  margin: 50px auto 0;
  max-width: 400px;
}

@media(min-width:992px) {
  .feature {
    margin: 20px auto 0;
  }
}

.feature p {
  margin-bottom: 0;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.gallery-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  overflow:hidden;
}

.gallery-box .gallery-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(44,44,44,.8);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
  opacity: 1;
}

.gallery-box:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery-box img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
} */










.btn {
  margin-right: 0px;
padding: 20px 40px;
border-style: none;
border-color: #000;
border-radius: 0px;
background-color: #ac1313;
font-family: Poppins, sans-serif;
color: #fff;
line-height: 22px;
}



::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
} */
